@page "/consultarPagos"
@using Radzen.Blazor
@inject IWebHostEnvironment Environment
@rendermode InteractiveServer


<PageTitle>Consultar Pagos</PageTitle>

<h1>Consultar Pagos Realizados</h1>
<hr/>
<p>se </p>

<div class="col-md-12 align-left pb-2 pr-0">
   
</div>

@code {

    //respuesta = await Http.GetFromJsonAsync<>($"ProcesoPresupuestal/ConsultarDependencias");
   
}